html {
  height: 100%;
}

body {
  background: black url("../jpg/me_sunset.jpg") no-repeat fixed center;
  background-size: cover;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  font-family: monospace;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#content {
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 1px dashed white;
  border-right: 1px dashed white;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 5px;
}

#header {
}

#main {
  flex: 1;
  height: 100%;
}

#footer {
  color: #FFA0A0;
  display: flex;
  flex-flow: row wrap;
  font-size: 0.6em;
  justify-content: center;
}

a:link, a:visited {
  color: cyan;
}

#footer a:link, #footer a:visited {
  color: pink;
}

a:focus, a:hover {
  color: yellow;
  outline: 1px solid yellow;
}

#footer a:focus, #footer a:hover {
  color: yellow;
  outline: 1px solid yellow;
}

a:active {
  color: red;
  outline: 1px solid red;
}

#footer a:active {
  color: red;
  outline: 1px solid red;
}

h1, h2, h3, h4, h5, p {
  margin: 0px;
  padding: 0px 0px 5px 0px;
}
