body {
  background-color: cyan;
  color: white;
  font-family: monospace;
  padding: 0px;
  margin: 0px;
}

#content {
  background-color: rgba(0, 0, 0, 0.8);
  border-left: 1px dashed white;
  border-right: 1px dashed white;
  height: 100%;
  margin: auto;
  max-width: 800px;
}
